@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #52b6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

button {
  cursor: pointer;
}
